<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<script type="module" src="{{ url_for('static', filename='login.js') }}"></script>


<body>
    {% include 'navigation.html' %}

    {% include 'logo.html' %}
    <div id="login" class="content">
        <div id="login-form-container">
            <h1>Signin </h1>
            <form id="login-form">
                <label for="emailAddress">Email:</label><br>
                <input type="email" id="emailAddress" name="emailAddress"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p>If not registered, please <a href="/signup">sign up</a></p>
            <p><a href="/reset">Forgot password</a></p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>