<!DOCTYPE html>
<html lang="en">


{% include 'head.html' %}


    <style>
        
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
   
    <script type="module" src="{{ url_for('static', filename='auth.js')}}"></script>
    

<body>
    

<!-- <nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="logo.png" alt="Logo">
        </a>
        
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link login-logout-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Signup</a>
            </li>
        </ul>
    </div>
</nav> -->

{% include 'navigation.html' %}

<h2 style="text-align: center; color: white;">Patient Follow-up Details</h2>

<div class="container">
    <form id="search" name="search">
        <div class="form-group">
            
            <input class="form-control" type="text" id="patient-id" name="patient-id" placeholder="Patient ID" />
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>Follow-up Count</th>
            <th>Date</th>
            <th>Age</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody id="patientTableBody">
        <!-- Patient data will be inserted here dynamically -->
        
    </tbody>
</table>

<!-- <div id="patientDetails" class="patient-details">
    <h2>Patient Details</h2>
    <table>
        <tr><th>Patient ID:</th><td id="patientID"></td></tr>
        <tr><th>Name:</th><td id="patientName"></td></tr>
        <tr><th>Age:</th><td id="patientAge"></td></tr>
        <tr><th>Gender:</th><td id="patientGender"></td></tr>
        <tr><th>Diagnosis:</th><td id="patientDiagnosis"></td></tr>
        <tr><th>Medication:</th><td id="patientMedication"></td></tr>

    </table>
</div> -->




</body>
<script type="module" src="{{url_for('static', filename='p_data.js')}}"></script>
</html>
